.*.swp
.*~
/.libs/
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/blezz.la
/compile
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/m4/
/missing
/src/.deps/
/src/.dirstamp
/src/.libs/
/src/blezz_la-blezz.lo
/stamp-h1
